@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap");
.banner-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  height: 2.6em;
  bottom: 0;
  left: 0;
}

.banner-btn .down-arrow {
  background-color: #33323D;
  padding: 13px;
  display: block;
}

.banner-btn button {
  padding: 0 36px;
}

.banner-btn .abt-me {
  cursor: pointer;
  background-color: #203A4C;
  border: none;
  color: #FAFAFA;
  font-family: 'Public Sans', serif;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.portfolio-btn {
  margin-top: 32px;
}

.portfolio-btn a {
  background-color: white;
  border: 1px solid black;
  color: #33323D;
  cursor: pointer;
  font-family: 'Public Sans', sans-serif;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

.portfolio-btn a:hover {
  background-color: #33323D;
  color: #FAFAFA;
}

.visit-btn {
  margin-top: 36px;
}

.visit-btn a {
  background-color: white;
  border: 1px solid black;
  color: #33323D;
  cursor: pointer;
  font-family: 'Public Sans', sans-serif;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

.visit-btn a:hover {
  background-color: #33323D;
  color: #FAFAFA;
}

.contact-btn a {
  background-color: white;
  border: 1px solid black;
  color: #33323D;
  cursor: pointer;
  font-family: 'Public Sans', sans-serif;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

.contact-btn a:hover {
  background-color: #33323D;
  color: #FAFAFA;
}

.header {
  margin: auto;
  margin-bottom: 32px;
  margin-top: 16px;
  max-width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu a.active-page {
  color: #5FB4A2;
}

.link {
  display: inline-block;
  margin: 16px 0 16px 44px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  -webkit-transform: scale(1, 0.9);
          transform: scale(1, 0.9);
  color: #33323D;
  font-weight: 900;
  padding: 15px 0;
}

body {
  background-color: #FAFAFA;
  margin: 0;
}

.container {
  margin: auto;
  width: 1080px;
}

.banner {
  margin: 48px 0 80px 0;
  position: relative;
}

.banner img {
  width: 100%;
}

.banner .banner-text {
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 22em;
  width: 27em;
}

.banner .banner-text p {
  color: #33323D;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 45px;
  font-weight: bold;
  margin-right: 28px;
}

.profile {
  color: #33323D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7em;
  margin-bottom: 6em;
}

.profile img {
  width: 33em;
}

.profile .profile-txt {
  border-bottom: 1px solid #EAEAEB;
  border-top: 1px solid #EAEAEB;
  margin: 0 112px;
}

.profile .profile-txt h1 {
  font-family: 'Ibarra Real Nova', serif;
  margin-top: 40px;
}

.profile .profile-txt p {
  color: #33323db6;
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.contact-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6em;
}

.contact-footer .contact-txt {
  width: 20em;
}

.contact-footer .contact-txt h2 {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 36px;
}

.contact-footer .line {
  color: #EAEAEB;
}

footer {
  background-color: #33323D;
  width: 100%;
}

footer .real-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.7em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 1080px;
}

footer .real-footer .left-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .real-footer .left-footer .menu-2 {
  height: 4em;
}

footer .real-footer .left-footer .menu-2 .link-2 {
  display: inline-block;
  margin: 16px 0 16px 44px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  -webkit-transform: scale(1, 0.9);
          transform: scale(1, 0.9);
  color: #EAEAEB;
  padding: 10px 0;
}

footer .real-footer .social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

footer .real-footer .social-icons li {
  float: left;
  padding-right: 0.7rem;
}

footer .real-footer .social-icons .fab {
  color: #EAEAEB;
  font-size: 1.5rem;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project .left-desc {
  border-bottom: 1px solid #EAEAEB;
  border-top: 1px solid #EAEAEB;
  float: left;
  height: 28.5rem;
  margin-right: 4.2rem;
}

.project .left-desc h2 {
  color: #33323D;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 36px;
}

.project .left-desc p {
  color: #33323db6;
  font-family: 'Public Sans', sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.project .left-desc .project-lang {
  color: #5FB4A2;
  font-weight: bold;
}

.project .right-desc {
  padding-left: 32px;
  width: 645px;
}

.project .right-desc h3 {
  color: #33323D;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 26px;
  font-weight: 500;
  margin-top: 0;
}

.project .right-desc .background p {
  color: #33323da7;
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 32px;
}

.project .right-desc .previews {
  width: 100%;
}

.project .right-desc .previews img {
  margin-bottom: 24px;
}

.project-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-slide .prev-next-1, .project-slide .prev-next-2 {
  margin: 24px 0 54px 0;
  padding: 32px 0;
  width: 100%;
}

.project-slide .prev-next-1 a, .project-slide .prev-next-2 a {
  color: #33323D;
  text-decoration: none;
}

.project-slide .prev-next-1 .previous, .project-slide .prev-next-1 .next, .project-slide .prev-next-2 .previous, .project-slide .prev-next-2 .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-slide .prev-next-1 .previous .left-slide p, .project-slide .prev-next-1 .previous .right-slide p, .project-slide .prev-next-1 .next .left-slide p, .project-slide .prev-next-1 .next .right-slide p, .project-slide .prev-next-2 .previous .left-slide p, .project-slide .prev-next-2 .previous .right-slide p, .project-slide .prev-next-2 .next .left-slide p, .project-slide .prev-next-2 .next .right-slide p {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 28px;
  margin: 3px 0;
}

.project-slide .prev-next-1 .previous .left-slide span, .project-slide .prev-next-1 .previous .right-slide span, .project-slide .prev-next-1 .next .left-slide span, .project-slide .prev-next-1 .next .right-slide span, .project-slide .prev-next-2 .previous .left-slide span, .project-slide .prev-next-2 .previous .right-slide span, .project-slide .prev-next-2 .next .left-slide span, .project-slide .prev-next-2 .next .right-slide span {
  color: #a5a5a5;
  font-family: 'Public Sans', sans-serif;
  font-size: 14px;
}

.project-slide .prev-next-1 {
  border-bottom: 1px solid #EAEAEB;
  border-right: 1px solid #EAEAEB;
  border-top: 1px solid #EAEAEB;
}

.project-slide .prev-next-1 .previous svg {
  padding-right: 20px;
}

.project-slide .prev-next-2 {
  border-bottom: 1px solid #EAEAEB;
  border-top: 1px solid #EAEAEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project-slide .prev-next-2 .next {
  text-align: right;
}

.project-slide .prev-next-2 .next svg {
  padding-left: 20px;
}

.project-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30em;
  margin: 64px 0;
}

.project-preview .portfolio-img img {
  height: 100%;
  width: 32.5em;
}

.project-preview .project-desc {
  border-bottom: 1px solid #EAEAEB;
  border-top: 1px solid #EAEAEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 120px 0 104px;
}

.project-preview .project-desc h2 {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

.project-preview .project-desc p {
  color: #33323db6;
  font-family: 'Public Sans', sans-serif;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 20px;
}

.project-preview .project-desc .visit-btn button {
  background-color: white;
  border: 1px solid black;
  color: #33323D;
  cursor: pointer;
  font-family: 'Public Sans', sans-serif;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 44px;
  border-top: 1px solid #EAEAEB;
  margin-top: 66px;
}

.upper .left-title {
  margin-right: 63px;
}

.upper .left-title h2 {
  color: #33323D;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 38px;
  font-weight: bold;
  margin: 0;
}

.upper .sellout {
  width: 39.5em;
}

.upper .sellout p {
  color: #33323da7;
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 24px 0;
}

.lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 44px;
  border-top: 1px solid #EAEAEB;
  margin-top: 32px;
  padding-bottom: 44px;
}

.lower h2 {
  color: #33323D;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 38px;
  font-weight: bold;
  margin: 0;
}

.lower .contact-form {
  width: 39.5em;
  margin-bottom: 72px;
}

.lower .contact-form label {
  color: #33323dd0;
  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  font-weight: 900;
}

.lower .contact-form input[type=text], .lower .contact-form input[type=email], .lower .contact-form select, .lower .contact-form textarea {
  background-color: #e4e3e3;
  border: 1px solid #EAEAEB;
  /* Gray border */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 24px;
  padding: 16px;
  resize: none;
  width: 100%;
}

.lower .contact-form ::-webkit-input-placeholder {
  color: #a2a2a2;
}

.lower .contact-form :-ms-input-placeholder {
  color: #a2a2a2;
}

.lower .contact-form ::-ms-input-placeholder {
  color: #a2a2a2;
}

.lower .contact-form ::placeholder {
  color: #a2a2a2;
}

.lower .contact-form input[type=submit] {
  background-color: #203A4C;
  border: none;
  color: #FAFAFA;
  cursor: pointer;
  font-family: 'Public Sans', serif;
  font-size: 11px;
  letter-spacing: 2px;
  padding: 18px 40px;
  text-transform: uppercase;
}

.lower .contact-form input[type=submit]:hover {
  background-color: #5fb4a2;
}

:required {
  border: 1px solid #F43030;
}

.social-icons-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
}

.social-icons-2 li {
  float: left;
  padding-right: 0.7rem;
}

.social-icons-2 .fab {
  font-size: 1.5rem;
}
/*# sourceMappingURL=main.css.map */