@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap");
.banner-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 600px) {
  .banner-btn {
    margin-bottom: 6rem;
  }
}

.banner-btn .down-arrow {
  background-color: #33323d;
  cursor: pointer;
  padding: 13px;
  display: block;
}

.banner-btn .about-me-btn {
  cursor: pointer;
  background-color: #203a4c;
  border: none;
  font-family: "Public Sans", serif;
  font-size: 11px;
  letter-spacing: 2px;
  padding: 16px 36px;
  text-transform: uppercase;
}

.banner-btn .about-me-btn a {
  text-decoration: none;
  color: #fafafa;
}

.portfolio-btn {
  margin-top: 40px;
}

@media (max-width: 600px) {
  .portfolio-btn {
    padding-bottom: 64px;
  }
}

@media (min-width: 600px) {
  .portfolio-btn {
    margin-bottom: 60px;
  }
}

.portfolio-btn a {
  background-color: white;
  border: 1px solid #33323d;
  color: #33323d;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

.portfolio-btn a:hover {
  background-color: #33323d;
  color: #fafafa;
}

@media (min-width: 600px) {
  .visit-btn {
    margin: 45px 0;
  }
}

@media (min-width: 1200px) {
  .visit-btn {
    margin: 55px 0;
  }
}

.visit-btn a {
  background-color: white;
  border: 1px solid #33323d;
  color: #33323d;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

.visit-btn a:hover {
  background-color: #33323d;
  color: #fafafa;
}

.contact-btn {
  padding-left: 24px;
}

@media (max-width: 600px) {
  .contact-btn {
    padding: 0;
  }
}

.contact-btn a {
  background-color: white;
  border: 1px solid #33323d;
  color: #33323d;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

.contact-btn a:hover {
  background-color: #33323d;
  color: #fafafa;
}

.contact-form {
  width: 39.5em;
  margin-bottom: 72px;
}

.contact-form label {
  color: #33323dd0;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  font-weight: 900;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form select,
.contact-form textarea {
  background-color: #e4e3e3;
  border: 1px solid #eaeaeb;
  /* Gray border */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 24px;
  padding: 16px;
  resize: none;
  width: 100%;
}

.contact-form ::-webkit-input-placeholder {
  color: #a2a2a2;
}

.contact-form :-ms-input-placeholder {
  color: #a2a2a2;
}

.contact-form ::-ms-input-placeholder {
  color: #a2a2a2;
}

.contact-form ::placeholder {
  color: #a2a2a2;
}

.contact-form input[type="submit"] {
  background-color: #203a4c;
  border: none;
  color: #fafafa;
  cursor: pointer;
  font-family: "Public Sans", serif;
  font-size: 11px;
  letter-spacing: 2px;
  padding: 18px 40px;
  text-transform: uppercase;
}

.contact-form input[type="submit"]:hover {
  background-color: #5fb4a2;
}

.social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
}

.social-icons li {
  float: left;
  padding: 8px;
}

.social-icons .fab {
  font-size: 1.5rem;
}

.social-icons li:hover > .fa-github {
  color: #787878;
}

.social-icons li:hover > .fa-twitter {
  color: #1a91da;
}

.social-icons li:hover > .fa-linkedin {
  color: #0a66c2;
}

.social-icons .fab {
  color: #eaeaeb;
}

.social-icons-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
}

.social-icons-2 li {
  float: left;
  padding: 8px;
}

.social-icons-2 .fab {
  font-size: 1.5rem;
}

.social-icons-2 li:hover > .fa-github {
  color: #787878;
}

.social-icons-2 li:hover > .fa-twitter {
  color: #1a91da;
}

.social-icons-2 li:hover > .fa-linkedin {
  color: #0a66c2;
}

footer {
  background-color: #33323d;
  bottom: -40px;
  margin: auto;
  position: absolute;
  width: 100%;
}

@media (max-width: 600px) {
  footer {
    position: initial;
  }
}

footer .real-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  max-width: 1080px;
}

@media (min-width: 600px) {
  footer .real-footer {
    padding: 0 24px;
  }
}

@media (max-width: 600px) {
  footer .real-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px 0;
  }
}

footer .real-footer .left-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  footer .real-footer .left-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  footer .real-footer .left-footer .logo-2 {
    margin-bottom: 16px;
  }
}

footer .real-footer .left-footer .link-2 {
  margin: 16px 0 16px 44px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  -webkit-transform: scale(1, 0.9);
          transform: scale(1, 0.9);
  color: #eaeaeb;
  padding: 10px 0;
}

@media (max-width: 600px) {
  footer .real-footer .left-footer .link-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 16px 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.container {
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1080px;
  padding-bottom: 1rem;
}

@media (max-width: 600px) {
  .container {
    padding: 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 600px) {
  .container {
    padding: 24px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}

.header {
  margin: auto;
  margin-top: 16px;
  max-width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .header {
    padding: 0 24px;
  }
}

@media (min-width: 600px) {
  .header {
    padding: 24px;
  }
}

.header .menu .bar-icon {
  display: none;
}

.header .menu a.active-page {
  color: #5fb4a2;
}

@media (max-width: 600px) {
  .header .menu a {
    display: none;
  }
  .header .menu a.bar-icon {
    float: right;
    display: block;
  }
  .header .menu .responsive {
    position: relative;
  }
  .header .menu .responsive .bar-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header .menu .responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.link {
  margin: 16px 0 16px 44px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  -webkit-transform: scale(1, 0.9);
          transform: scale(1, 0.9);
  color: #33323d;
  font-weight: 900;
  padding: 15px 0;
}

.upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 44px;
  border-top: 1px solid #eaeaeb;
  margin-top: 66px;
}

.upper .left-title {
  margin-right: 63px;
}

.upper .left-title h2 {
  color: #33323d;
  font-family: "Ibarra Real Nova", serif;
  font-size: 38px;
  font-weight: bold;
  margin: 0;
}

.upper .sellout {
  width: 39.5em;
}

.upper .sellout p {
  color: #33323da7;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 24px 0;
}

.lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 44px;
  border-top: 1px solid #eaeaeb;
  margin-top: 32px;
  padding-bottom: 44px;
}

.lower h2 {
  color: #33323d;
  font-family: "Ibarra Real Nova", serif;
  font-size: 38px;
  font-weight: bold;
  margin: 0;
}

:required {
  border: 1px solid #f43030;
}

.banner {
  position: relative;
}

@media (max-width: 600px) {
  .banner {
    display: block;
    margin: 0;
  }
}

@media (min-width: 600px) {
  .banner {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .banner {
    margin: 48px 0 80px 0;
  }
}

.banner .hero-image {
  width: 100%;
}

.banner .banner-text {
  background-color: #fafafa;
  width: 27em;
}

@media (max-width: 600px) {
  .banner .banner-text {
    position: initial;
    width: 100%;
  }
}

@media (min-width: 600px) {
  .banner .banner-text {
    position: absolute;
    left: -1px;
    bottom: 0;
    width: 32em;
  }
}

.banner .banner-text p {
  color: #33323d;
  font-family: "Ibarra Real Nova", serif;
  font-weight: bold;
}

@media (max-width: 600px) {
  .banner .banner-text p {
    font-size: 34px;
    margin: 24px 0;
  }
}

@media (min-width: 600px) {
  .banner .banner-text p {
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  .banner .banner-text p {
    font-size: 45px;
  }
}

.profile {
  color: #33323d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6rem 0;
}

@media (max-width: 600px) {
  .profile {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
}

.profile .profile-pic {
  position: relative;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 600px) {
  .profile .profile-pic .pp-1 {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 600px) {
  .profile .profile-pic .pp-1 {
    left: -255px;
    position: absolute;
    width: auto;
    height: 100%;
  }
}

@media (min-width: 900px) {
  .profile .profile-pic .pp-1 {
    left: -70px;
  }
}

@media (min-width: 1200px) {
  .profile .profile-pic .pp-1 {
    left: 0;
  }
}

.profile .profile-text {
  border-bottom: 1px solid #eaeaeb;
  border-top: 1px solid #eaeaeb;
}

@media (max-width: 600px) {
  .profile .profile-text {
    margin: 0;
  }
}

@media (min-width: 600px) {
  .profile .profile-text {
    width: 86%;
  }
}

@media (min-width: 900px) {
  .profile .profile-text {
    margin: 0 100px;
  }
}

.profile .profile-text h1 {
  font-family: "Ibarra Real Nova", serif;
  margin-top: 40px;
}

@media (max-width: 600px) {
  .profile .profile-text h1 {
    font-size: 40px;
  }
}

.profile .profile-text p {
  color: #33323db6;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

@media (max-width: 600px) {
  .profile .profile-text p {
    font-size: 16px;
    line-height: 28px;
  }
}

.contact-bottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

@media (max-width: 600px) {
  .contact-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-bottom: 64px;
  }
}

.contact-bottom .contact-text {
  margin-right: 32px;
}

@media (max-width: 600px) {
  .contact-bottom .contact-text {
    margin: 24px;
  }
}

.contact-bottom .contact-text h3 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 40px;
}

@media (min-width: 600px) {
  .contact-bottom .contact-text h3 {
    font-size: 36px;
    max-width: 360px;
    width: 100vw;
  }
}

.contact-bottom hr {
  border: 1px solid #eaeaeb;
  width: 40%;
}

@media (max-width: 600px) {
  .contact-bottom hr {
    display: none;
  }
}

@media (min-width: 600px) {
  .contact-bottom hr {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 40%;
  }
}

.project-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .project-preview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

@media (min-width: 600px) {
  .project-preview {
    margin-bottom: 75px;
  }
}

@media (min-width: 1200px) {
  .project-preview {
    margin: 6rem 0;
  }
}

.project-preview .portfolio-img {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 600px) {
  .project-preview .portfolio-img {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .project-preview .portfolio-img {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

.project-preview .portfolio-img .project-preview-img {
  width: 100%;
}

@media (min-width: 600px) {
  .project-preview .portfolio-img .project-preview-img {
    margin: 40px 0;
  }
}

@media (min-width: 900px) {
  .project-preview .portfolio-img .project-preview-img {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .project-preview .portfolio-img .project-preview-img {
    position: initial;
    margin: 0;
  }
}

.project-preview .project-description {
  border-bottom: 1px solid #eaeaeb;
  border-top: 1px solid #eaeaeb;
}

@media (max-width: 600px) {
  .project-preview .project-description {
    padding: 24px 0 12px 0;
    margin: 0 0 72px 0;
  }
}

@media (min-width: 600px) {
  .project-preview .project-description {
    margin: 0 55px;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (min-width: 900px) {
  .project-preview .project-description {
    margin: 0 80px;
  }
}

@media (min-width: 1200px) {
  .project-preview .project-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 7rem;
  }
}

.project-preview .project-description h2 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 36px;
  font-weight: 500;
}

.project-preview .project-description p {
  color: #33323db6;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}

.project-preview .project-description .visit-btn button {
  background-color: white;
  border: 1px solid #33323d;
  color: #33323d;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 600px) {
  .reverse-col-project-preview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project .left-desc {
  border-bottom: 1px solid #eaeaeb;
  border-top: 1px solid #eaeaeb;
  float: left;
  height: 28.5rem;
  margin-right: 4.2rem;
}

.project .left-desc h2 {
  color: #33323d;
  font-family: "Ibarra Real Nova", serif;
  font-size: 36px;
}

.project .left-desc p {
  color: #33323db6;
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.project .left-desc .project-lang {
  color: #5fb4a2;
  font-weight: bold;
}

.project .right-desc {
  padding-left: 32px;
  width: 645px;
}

.project .right-desc h3 {
  color: #33323d;
  font-family: "Ibarra Real Nova", serif;
  font-size: 26px;
  font-weight: 500;
  margin-top: 0;
}

.project .right-desc .background p {
  color: #33323da7;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 32px;
}

.project .right-desc .previews {
  width: 100%;
}

.project .right-desc .previews img {
  margin-bottom: 24px;
}

.project-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-slide .prev-next-1,
.project-slide .prev-next-2 {
  margin: 24px 0 54px 0;
  padding: 32px 0;
  width: 100%;
}

.project-slide .prev-next-1 a,
.project-slide .prev-next-2 a {
  color: #33323d;
  text-decoration: none;
}

.project-slide .prev-next-1 .previous,
.project-slide .prev-next-1 .next,
.project-slide .prev-next-2 .previous,
.project-slide .prev-next-2 .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-slide .prev-next-1 .previous .left-slide p,
.project-slide .prev-next-1 .previous .right-slide p,
.project-slide .prev-next-1 .next .left-slide p,
.project-slide .prev-next-1 .next .right-slide p,
.project-slide .prev-next-2 .previous .left-slide p,
.project-slide .prev-next-2 .previous .right-slide p,
.project-slide .prev-next-2 .next .left-slide p,
.project-slide .prev-next-2 .next .right-slide p {
  font-family: "Ibarra Real Nova", serif;
  font-size: 28px;
  margin: 3px 0;
}

.project-slide .prev-next-1 .previous .left-slide span,
.project-slide .prev-next-1 .previous .right-slide span,
.project-slide .prev-next-1 .next .left-slide span,
.project-slide .prev-next-1 .next .right-slide span,
.project-slide .prev-next-2 .previous .left-slide span,
.project-slide .prev-next-2 .previous .right-slide span,
.project-slide .prev-next-2 .next .left-slide span,
.project-slide .prev-next-2 .next .right-slide span {
  color: #a5a5a5;
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
}

.project-slide .prev-next-1 {
  border-bottom: 1px solid #eaeaeb;
  border-right: 1px solid #eaeaeb;
  border-top: 1px solid #eaeaeb;
}

.project-slide .prev-next-1 .previous svg {
  padding-right: 20px;
}

.project-slide .prev-next-2 {
  border-bottom: 1px solid #eaeaeb;
  border-top: 1px solid #eaeaeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project-slide .prev-next-2 .next {
  text-align: right;
}

.project-slide .prev-next-2 .next svg {
  padding-left: 20px;
}
/*# sourceMappingURL=main.css.map */