// Base

@import 'base/variables';
@import 'base/mixins';
@import 'base/reset';

// Components

@import 'components/typography';
@import 'components/buttons';
@import 'components/navigation';

body {
  background-color: #FAFAFA;
  margin: 0;
}

.container {
  margin: auto;
  width: 1080px;
}

// ----------- *** Banner *** -------------

.banner {
  margin: 48px 0 80px 0;
  position: relative;

  img {
    width: 100%;
  }

  .banner-text {
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 22em;
    width: 27em;

    p {
      color:#33323D;
      font-family: 'Ibarra Real Nova', serif;
      font-size: 42px;
      font-weight: bold;
      margin-right: 28px;
    }
  }
}

.profile {
  color: #33323D;
  display: flex;
  margin-top: 7em;
  margin-bottom: 6em;

  img {
    width: 33em;
  }

  .profile-txt {
    border-bottom: 1px solid #EAEAEB;
    border-top: 1px solid #EAEAEB;
    margin: 0 112px;

    h1 {
      font-family: 'Ibarra Real Nova', serif;
      margin-top: 40px;
    }

    p {
      font-family: 'Public Sans', sans-serif;
      font-size: 16px;
      line-height: 30px;
    }
  }
}

// ------------ *** Footer *** -------------

.contact-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6em;

  .contact-txt {
    width: 20em;

    h2 {
      font-family: 'Ibarra Real Nova', serif;
      font-size: 36px;
    }
  }

  .line {
    color: #EAEAEB;
  }
}

footer {
  background-color: #33323D;
  width: 100%;

  .real-footer {
    align-items: center;
    display: flex;
    height: 4.7em;
    justify-content: space-between;
    margin: auto;
    width: 1080px;

    .left-footer{
      align-items: center;
      display: flex;
    
      .menu-2 {
        height: 4em;
      
        .link-2 {
          @include nav-links;
          color: #EAEAEB;
          padding: 10px 0;
        }
      }
    }

    .social-icons {
      ul {
        display: flex;
        align-items: center;
        list-style-type: none;
      }

      li {
        float: left;
        padding-right: 0.7rem;
      }

      .fab {
        color: #EAEAEB;
        font-size: 1.3rem;
      }
    }
  }
}

// ------------- *** Bookmark Project *** --------------

.project {
  display: flex;

  .left-desc {
    border-bottom: 1px solid #EAEAEB;
    border-top: 1px solid #EAEAEB;
    float: left;
    height: 27rem;
    margin-right: 4.2rem;

    h2 {
      font-family: 'Ibarra Real Nova', serif;
      font-size: 32px;
    }

    p {
      font-family: 'Public Sans', sans-serif;
      font-size: 15px;
      line-height: 30px;
    }

    .project-lang{
      color: #5FB4A2;
    }
  }

  .visit-btn {
    button {
      @include white-btn;
      cursor: pointer;
    }
  }

  .right-desc {
    padding-left: 32px;
    width: 645px;

    h3 {
      font-family: 'Ibarra Real Nova', serif;
      font-size: 24px;
      font-weight: 500;
      margin-top: 0;
    }

    .background {    
      p {
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 32px;
      }
    }

    .previews {
      width: 100%;

      img {
        margin-bottom: 24px;
      }
    }
  }
}

.project-slide {
  display: flex;
  justify-content: space-between;
  // margin: 16px 0 48px 0;
  // padding: 16px 0;

  .prev-next-1, .prev-next-2 {
    // border: 2px solid red;
    margin: 16px 0 48px 0;
    padding: 16px 0;
    width: 100%;

    .previous, .next {
      display: flex;
      align-items: center;
      
      .left-slide, .right-slide {
        p {
          font-family: 'Ibarra Real Nova', serif;
          font-size: 24px;
          margin: 0;
        }
        span {
          color: #bbbaba;
          font-family: 'Public Sans', sans-serif;
          font-size: 13px;
        }
      }
    }
  }

  .prev-next-1 {
    border-bottom: 1px solid #EAEAEB;
    border-right: 1px solid #EAEAEB;
    border-top: 1px solid #EAEAEB;

    .previous {
      svg {
        padding-right: 20px;
      }
    }
  }

  .prev-next-2 {
    border-bottom: 1px solid #EAEAEB;
    border-top: 1px solid #EAEAEB;
    display: flex;
    justify-content: flex-end;

    .next {
      text-align: right;
      
      svg {
        padding-left: 20px;
      }
    }
  }
}

// ------------- *** Portfolios *** --------------

.project-preview {
  display: flex;
}
  