// Base

@import 'base/variables';
@import 'base/mixins';
@import 'base/reset';

// Components

@import 'components/typography';
@import 'components/buttons';
@import 'components/navigation';

body {
  background-color: #FAFAFA;
  margin: 0;
}

.container {
  margin: auto;
  width: 1080px;
}

// Banner

.banner {
  position: relative;

  img {
    width: 100%;
  }

  .banner-text {
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 22em;
    width: 27em;

    p {
      color:#33323D;
      font-family: 'Ibarra Real Nova', serif;
      font-size: 42px;
      font-weight: bold;
      margin-right: 28px;
    }
  }
}

.profile {
  color: #33323D;
  display: flex;
  margin-top: 7em;
  margin-bottom: 6em;

  img {
    width: 33em;
  }

  .profile-txt {
    border-top: 1px solid #EAEAEB;
    border-bottom: 1px solid #EAEAEB;
    margin: 0 112px;

    h1 {
      font-family: 'Ibarra Real Nova', serif;
      margin-top: 40px;
    }

    p {
      font-family: 'Public Sans', sans-serif;
      font-size: 16px;
      line-height: 30px;
    }
  }
}

// Footer

.contact-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6em;

  .contact-txt {
    width: 20em;

    h2 {
      font-family: 'Ibarra Real Nova', serif;
      font-size: 36px;
    }
  }

  .line {
    color: #EAEAEB;
  }
}

footer {
  background-color: #33323D;
  width: 100%;

  .real-footer {
    align-items: center;
    display: flex;
    height: 4.7em;
    justify-content: space-between;
    margin: auto;
    width: 1080px;

    .left-footer{
      align-items: center;
      display: flex;
    
      .menu-2 {
        height: 4em;
      
        .link-2 {
          @include nav-links;
          color: #EAEAEB;
          padding: 10px 0;
        }
      }
    }

    .social-icons {
      ul {
        display: flex;
        align-items: center;
        list-style-type: none;
      }

      li {
        float: left;
        padding-right: 0.7rem;
      }

      .fab {
        color: #EAEAEB;
        font-size: 1.3rem;
      }
    }
  }
}

// Porfolio

.project {
  display: flex;

  .left-desc {
    float: left;
    margin-right: 1.5rem;
    width: 90rem;

    p {
      font-family: 'Public Sans', sans-serif;
      font-size: 15px;
      line-height: 30px;
    }
  }

  .visit-btn {
    button {
      @include white-btn;
    }
  }
}
  