@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap');

.banner {
  display: flex;
  position: relative;
}

.banner-text {
  width: 10em;
  height: 7.5em;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 42px;
  font-weight: bold;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
}

.banner-text p {

}