.banner-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 2.6em;
  bottom: 0;
  left: 0;

  .down-arrow {
    background-color: #33323D;
    padding: 13px;
    display: block;
  }

  button {
    padding: 0 36px;
  }

  .abt-me {
    cursor: pointer;
    background-color: #203A4C;
    border: none;
    color: #FAFAFA;
    font-family: 'Public Sans', serif;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.portfolio-btn {
  margin-top: 32px;
  
  a {
    @include white-btn;
  }
}

.visit-btn {
  margin-top: 32px;
  
  a {
    @include white-btn;
  }
}

.contact-btn {
  a {
    @include white-btn;
  }
}
