.banner-btn {
  display: flex;
  flex-direction: row;
  // position: absolute;
  // height: 2.6em;
  // bottom: 0;
  // left: 0;

  @include mobile {
    // display: none;
    margin-bottom: 6rem;
  }

  .down-arrow {
    background-color: #33323d;
    cursor: pointer;
    padding: 13px;
    display: block;
  }

  .about-me-btn {
    cursor: pointer;
    background-color: #203a4c;
    border: none;
    font-family: "Public Sans", serif;
    font-size: 11px;
    letter-spacing: 2px;
    padding: 16px 36px;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: #fafafa;
    }
  }
}

.portfolio-btn {
  margin-top: 40px;

  @include mobile {
    padding-bottom: 64px;
  }

  @include tablet-portrait-up {
    margin-bottom: 60px;
  }

  @include tablet-landscape-up {
    // margin-bottom: 0;
  }

  a {
    @include white-btn;
  }

  a:hover {
    background-color: #33323d;
    color: #fafafa;
  }
}

.view-project-btn {
  @include mobile {
    margin: 40px 0;
  }

  @include tablet-portrait-up {
    margin: 45px 0;
  }

  @include desktop-up {
    margin: 55px 0;
  }

  a {
    @include white-btn;

    &:hover {
      background-color: #33323d;
      color: #fafafa;
    }
  }
}

.visit-btn {
  border-bottom: 1px solid #eaeaeb;
  margin-top: 35px;
  padding-bottom: 50px;

  a {
    @include white-btn;

    &:hover {
      background-color: #33323d;
      color: #fafafa;
    }
  }
}

.contact-btn {
  padding-left: 24px;

  @include mobile {
    padding: 0;
  }

  a {
    @include white-btn;
  }

  a:hover {
    background-color: #33323d;
    color: #fafafa;
  }
}
