.header {
  margin: auto;
  margin-top: 16px;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    a.active-page {
        color: #5FB4A2;
    }    
  }
}

.link {
  @include nav-links;
  color: #33323D;
  font-weight: 900;
  padding: 15px 0;
}
