.project-preview {
  display: flex;

  @include mobile {
    flex-direction: column;
    margin: 0;
  }

  @include desktop-up {
    margin: 6rem 0;
  }

  .portfolio-img {
    position: relative;

    @include mobile {
      width: 100%;
      padding-bottom: 30px;
    }

    @include tablet-portrait-up {
      width: 100%;
    }

    .project-preview-img {
      width: 100%;

      @include tablet-portrait-up {
        position: absolute;
        top: 24px;
        left: 24px;
      }

      @include desktop-up {
        position: static;
      }
      // @include mobile {
      //   width: 100%;
      // }
    }
  }

  .project-desc {
    border-bottom: 1px solid #eaeaeb;
    border-top: 1px solid #eaeaeb;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 120px 0 104px;

    @include mobile {
      padding: 24px 0 12px 0;
      margin: 0 0 72px 0;
    }

    @include tablet-portrait-up {
      // margin-left: 0 0 0 24px;
    }

    h2 {
      font-family: "Ibarra Real Nova", serif;
      font-size: 32px;
      font-weight: 500;
      margin: 0;
    }

    p {
      color: #33323db6;
      font-family: "Public Sans", sans-serif;
      font-size: 14px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    .visit-btn {
      button {
        @include white-btn;
        cursor: pointer;
      }
    }
  }
}

.reverse-col-project-preview {
  @include mobile {
    flex-direction: column-reverse;
  }
}
