body {
  background-color: #fafafa;
  margin: 0;
  position: relative;
  min-height: 100vh;

  @include tablet-portrait-up {
    // margin: 24px;
  }
}

.container {
  margin: auto;
  width: 1080px;
  padding-bottom: 1rem;

  @include mobile {
    padding: 24px;
    width: 600px;
  }
}
