.header {
  box-sizing: border-box;
  margin: auto;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    padding: 30px;
  }

  @include tablet-portrait-up {
    padding: 30px;
  }

  @include desktop-up {
    padding: 30px 0;
  }

  .menu {
    a.active-page {
      color: #5fb4a2;
    }

    @include mobile {
      a {
        display: none;
      }
    }
  }
}

.link {
  @include nav-links;
  color: #33323d;
  font-weight: 900;
  padding: 15px 0;
}
