.header {
  margin: auto;
  margin-bottom: 32px;
  margin-top: 16px;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    .fa-bars {
      display: none;

      @include mobile {
        display: block;
      }
    }
    a.active-page {
      color: #5fb4a2;
    }

    @include mobile {
      display: none;
    }
  }
}

.link {
  @include nav-links;
  color: #33323d;
  font-weight: 900;
  padding: 15px 0;
}
